<div class="po-wrapper">
  <po-toolbar p-title="AppName"></po-toolbar>

  <po-menu [p-menus]="menus"></po-menu>

  <po-page-default p-title="AppName">
    <po-page-default p-title="PO UI">
      <po-page-slide #inclusaoPrevisaoEntrega
    p-title="Erro com Po-Page Slide"
    p-size="sm"
    >
    <po-lookup
    name="lookup"
    p-field-label="label"
    p-field-value="value"
    p-filter-service="https://po-sample-api.herokuapp.com/v1/heroes"
    p-label="Abrir PO Lookup - Ao clicar em algum registro ocorre erro."    >
    </po-lookup>

    </po-page-slide>

    <po-button p-label="Abrir Page Slide"    p-type="primary"
    (p-click)="inclusaoPrevisaoEntrega.open()">
    </po-button>
    </po-page-default>
  </po-page-default>
</div>
